@import url('https://fonts.googleapis.com/css?family=Philosopher:400,700');

/*@font-face
	font-family: 'MyriadProRegular';
	font-weight: normal;
	font-style: normal;
	src: url('/wp-content/themes/active-theme/fonts/MyriadPro/MyriadPro-Regular.otf');

@font-face
	font-family: 'MyriadProBold';
	font-weight: bold;
	font-style: normal;
	src: url('/wp-content/themes/active-theme/fonts/MyriadPro/MyriadPro-Bold_0.otf');*/